@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

body { background: #08052c; 
}

header {
  text-align: center;
  padding: 20px;
  color: #fff;
}

h1 {
  margin: 0;
  font-size: 36px;
  color: #f1f35f;
}
nav{
  width: 100%;
  display: flex;
  align-items: center;
}
nav ul{
  flex: 1;
}
nav ul li{
  display: inline-block;
  margin: 10px 30px;
  
}
nav ul li a{
  color: #474879;
  text-decoration: none;
}


form { max-width: 420px; margin: 50px auto; }

.feedback-input {
  color: white;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 18px;
  border-radius: 5px;
  line-height: 22px;
  background-color: transparent;
  border: 2px solid #7c7c7c; /* Dark gray color for borders */
  transition: all 0.3s;
  padding: 13px;
  margin-bottom: 15px;
  width: 100%;
  box-sizing: border-box;
  outline: 0;
}

.feedback-input:focus { border: 2px solid #555; /* Slightly lighter gray color on focus */ }

textarea {
  height: 150px;
  line-height: 150%;
  resize: vertical;
}

[type="submit"] {
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  width: 100%;
  background: #8b8b88; 
  border-radius: 5px;
  border: 0;
  cursor: pointer;
  color: white;
  font-size: 24px;
  padding-top: 10px;
  padding-bottom: 10px;
  transition: all 0.3s;
  margin-top: -4px;
  font-weight: 700;
}
[type="submit"]:hover { background: #f8e320; 
 }

#responseMessage {
  border-radius: 5px;
  color: #ffffff;
  font-size: 20px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

#responseMessage.success {
  color: #10f710; /* Green background for success */
}

#responseMessage.error {
  color: #FF0000; /* Red background for errors */
}

#responseMessage.show {
  opacity: 1;
}

